.work {
  display: flex;
  list-style-type: none;
  gap: 30px;
  &__item{
  position: relative;
  list-style-type: none;
  gap: 30px;
  }
  &__text{
  position: absolute;
  bottom: 4px;
  left: 0px;
  z-index: 1;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  color: $white-color;
  padding-top: 27px;
  padding-bottom: 27px;
  box-shadow: 0px 0px 400px 0px rgba(47, 48, 58, 0.8) inset;
  }
}